body {
  background: #048326;
}

.container {
  max-width: 400px;
}

h1 {
  font-size: 2.4rem;
}

.time-icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}